.slick-slider {
    position: relative;
    user-select: none;

    &__list {
        position: relative;
        z-index: 0;
        overflow: hidden;
        padding: 0 !important;
    }

    &__track {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__arrow {
        position: absolute;
        top: calc(50% - (30px / 2));
        z-index: 30;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background: rgba(#00b0ff, .5);
        backdrop-filter: blur(5px);
        box-shadow: 0 0 10px rgba(#000, .2);
        user-select: none;
        cursor: pointer;
        transition: .3s all;

        &:hover {
            background: #0081cb;
        }

        &.slick-disabled {
            opacity: 0;
            visibility: hidden;
        }

        &--prev {
            left: 10px;

            &::before {
                background: url('assets/images/previous.png');
            }
        }

        &--next {
            right: 10px;

            &::before {
                background: url('assets/images/next.png');
            }
        }

        &::before {
            content: '';
            width: 10px;
            height: 17px;
        }
    }

    &__dots {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            margin: 0 5px;
            user-select: none;
            cursor: pointer;
        }
    }

    &__slide {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &.slick-current {
            [data-animation] {
                opacity: 1;
            }
        }

        [data-animation] {
            opacity: 0;
            transition: .3s opacity;
        }
    }
}
